{%- assign current_variant = product.selected_or_first_available_variant -%}

{%- assign product_zoom_size = '1800x1800' -%}
{%- assign product_image_size = '620x' -%}
{% case image_container_width %}
  {% when 'small' %}
    {%- assign product_image_width = 'medium-up--two-fifths' -%}
    {%- assign product_description_width = 'medium-up--three-fifths' -%}
    {%- assign product_image_size = '480x' -%}
  {% when 'medium' %}
    {%- assign product_image_width = 'medium-up--one-half' -%}
    {%- assign product_description_width = 'medium-up--one-half' -%}
    {%- assign product_image_size = '620x' -%}
  {% when 'large' %}
    {%- assign product_image_width = 'medium-up--three-fifths' -%}
    {%- assign product_description_width = 'medium-up--two-fifths' -%}
    {%- assign product_image_size = '740x' -%}
{% endcase %}

{% unless thumbnail_position %}
  {%- assign thumbnail_position = 'beside' -%}
{% endunless %}

{% unless description_style %}
  {%- assign description_style = 'full' -%}
{% endunless %}

<div id="ProductSection-{{ section_id }}"
  class="product-section"
  data-section-id="{{ section_id }}"
  data-section-type="product-template"
  {% if settings.product_zoom_enable %}
    data-image-zoom="true"
  {% endif %}
  {% if settings.inventory_enable %}
    data-inventory="true"
  {% endif %}
  {% if settings.inventory_transfers_enable %}
    data-incoming-inventory="true"
  {% endif %}
  {% unless isModal %}
    data-enable-history-state="true"
  {% endunless %}>

  {% render 'product-template-variables', product: product, current_variant: current_variant %}

  <div class="page-content">
    <div class="page-width">

      {% if settings.show_breadcrumbs and isModal != true %}
        {% render 'breadcrumbs' %}
      {% endif %}

      <div class="grid">
        <div class="grid__item {{ product_image_width }}">
          {% render 'product-images',
            section_id: section_id,
            product: product,
            isModal: isModal,
            product_zoom_size: product_zoom_size,
            product_image_size: product_image_size,
            thumbnail_position: thumbnail_position,
            thumbnail_arrows: thumbnail_arrows,
            video_looping: video_looping,
            video_style: video_style
          %}
        </div>

        <div class="grid__item {{ product_description_width }}">
            
        </div>
      </div>

      {% if description_style == 'full' %}
        <div class="product-single__description-full rte">
          {{ product.description }}
        </div>

        {% render 'product-additional-content', product: product, section_id: section_id %}
      {% endif %}
    </div>
  </div>
</div>
